---
import BlogPost from "../../components/blog/BlogPost.astro";
import LayoutBlog from "../../layouts/LayoutBlog.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<LayoutBlog title={"Articulos sobre " + tag}>
  <div class="flex flex-wrap gap-10 place-content-center mt-14 xl:gap-40">
    <section>
      <div class="mb-4 mx-2 md:mx-0">
        <h2 class="font-bold text-lg">Artículos sobre {tag}</h2>
        <p class="w-full md:w-[40em] text-sm">
          {
            tag === "react" &&
              "React es una biblioteca de código abierto desarrollada por Facebook para construir interfaces de usuario."
          }
          {
            tag === "typescript" &&
              "TypeScript es un lenguaje de programación que esencialmente es JavaScript con tipos."
          }
          <!-- {
            tag === "javascript" &&
              "JavaScript es un lenguaje de programación muy flexible que permite a los desarrolladores crear aplicaciones web interactivas y dinámicas."
          } -->
          {
            tag === "css" &&
              "CSS es un lenguaje de hojas de estilo utilizado para describir la presentación de documentos HTML y XML."
          }
        </p>
      </div>

      {
        posts.slice(0, 7).map((post) => {
          return (
            <BlogPost
              title={post.frontmatter.title}
              url={post.url}
              img={post.frontmatter.image.url}
              date={post.frontmatter.date}
            />
          );
        })
      }
      <!-- <div class="mt-4">
        <a href="/page/2" class="text-[#09f] font-bold"
          >artículos anteriores {">"}
        </a>
      </div> -->
    </section>
    <aside>
      <h2 class="font-bold p-2 text-lg">Cursos de Programación gratuitos</h2>
      <a
        href="https://rubengarzon.notion.site/APRENDE-REACT-desde-CERO-f3c25af67a824b65925a051af4babaa3"
        target="_blank"
      >
        <article
          class="flex flex-col w-80 h-44 bg-[#00CBFF] rounded-md place-content-center items-center hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer hover:bg-[#00B2E6]"
        >
          <img
            src="https://cdn.iconscout.com/icon/free/png-256/react-1543566-1306069.png"
            alt=""
            width="100"
            height="100"
          />
          <span class="text-lg font-bold">Aprende React desde Cero</span>
          <span class="text-lg font-bold"
            >La biblioteca de JS más demandada</span
          >
        </article>
      </a>
      <section class="mt-10 mb-6">
        <h2 class="font-bold text-lg">Artículos por temas</h2>
        <div class="flex flex-wrap gap-6">
          <a
            href="/tags/react"
            class="mt-2 block cursor-pointer border-2 border-white rounded-md p-2 hover:bg-[#09f] hover:text-white transition-all duration-300 ease-in-out font-bold text-[#09f] text-lg hover:border-[#09f]"
          >
            <img
              src="https://cdn.iconscout.com/icon/free/png-256/react-1543566-1306069.png"
              alt="icono de react"
              width="30"
              height="30"
              class="inline-block invert"
            />
            React
          </a>
          <a
            href="/tags/typescript"
            class="mt-2 block cursor-pointer border-2 border-white rounded-md p-2 hover:bg-blue-700 hover:text-white transition-all duration-300 ease-in-out font-bold text-blue-700 text-lg hover:border-blue-700"
          >
            <img
              src="https://cdn.worldvectorlogo.com/logos/typescript-2.svg"
              alt="icono de typescript"
              width="30"
              height="30"
              class="inline-block"
            />
            Typescript
          </a>

          <!-- <a
            href="/tags/javascript"
            class="mt-2 block cursor-pointer border-2 border-white rounded-md p-2 hover:bg-yellow-300 hover:text-black transition-all duration-300 ease-in-out font-bold text-yellow-300 text-lg hover:border-yellow-300"
          >
            <img
              src="https://cdn.iconscout.com/icon/free/png-256/javascript-2752148-2284965.png"
              alt="icono de javascript"
              width="30"
              height="30"
              class="inline-block"
            />
            JavaScript
          </a> -->
          <a
            href="/tags/css"
            class="mt-2 block cursor-pointer border-2 border-white rounded-md p-2 hover:bg-blue-500 hover:text-white transition-all duration-300 ease-in-out font-bold text-blue-500 text-lg hover:border-blue-500"
          >
            <img
              src="https://cdn.iconscout.com/icon/free/png-256/css-131-722685.png"
              alt="icono de css"
              width="30"
              height="30"
              class="inline-block"
            />
            CSS
          </a>
        </div>
      </section>
    </aside>
  </div>
</LayoutBlog>
