---
import projects from "../json_files/projects.json";
import Project from "../components/Project.astro";
import TitleSection from "../components/TitleSection.astro";
---

<TitleSection title="Proyectos" />
<section class="flex flex-wrap justify-center gap-10 mb-10" id="proyectos">
  {
    projects.map((project) => (
      <Project
        title={project.title}
        description={project.description}
        image={project.img}
        link={project.href}
        technologies={project.technologies}
        working={project.working}
      />
    ))
  }
</section>
